<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>FavoriteAPI</title>
    <style>
        .api-title {
            height: 100%;
            margin-top: 40vh;
            margin-bottom: auto;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="api-title">
        <h1>Favorite Things API {% if api_version %} ({{ api_version }}) {% endif %}</h1>
    </div>
</body>
</html>